.button{
    -fx-background-color: #3b3d73;
    -fx-font-family: arial;
    -fx-font-weight: bold;
    -fx-text-fill: #9B9EB9;

}
.button:hover{
    -fx-background-color: #3b3d73;
    -fx-font-family: arial;
    -fx-font-weight: bold;
    -fx-text-fill: #9B9EB9;
}
.anchorpane{
    -fx-background-color: #3b3d73;

}
.largeVBox{
    -fx-background-color: white;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 10;
    -fx-background-radius:20;
    -fx-border-width: 4;
}
.menuBar {
    -fx-background-color: #d8d8d8;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 10;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #7a7a7a;

}
.mainVBox {
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
    -fx-border-width: 4;
    -fx-border-color: #7a7a7a;
}
.serviceRequestCat{

    -fx-border-color: #7a7a7a;
    -fx-border-width: 0 0 2 0;
}
.scroll-pane{
    -fx-background-color: white;
    -fx-background-radius: 0 0 8 8;
}
.service-entry-field{
    -fx-background-color: #FFF;
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 2;
    -fx-border-width: 1;
    -fx-background-radius: 8;
}
#notStartedService {
    -fx-background-color:  #d64d4d;
    -fx-background-radius: 3;
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: white;
}
#incompleteService {
    -fx-background-color:   #f5c542;
    -fx-background-radius: 3;
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: white;
}
#completeService {
    -fx-background-color:   #6cc968;
    -fx-background-radius: 3;
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: white;
}
.darkPane{
    -fx-background-color: #26274D;
}
.mediumPane{
    -fx-background-color: #45477a;
}
.unselectedMenu{
    -fx-background-color: #3b3d73;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: black;
    -fx-font-family: Calibri;
    -fx-font-weight: normal;

}
.unselectedMenu:hover{
    -fx-font-family: Calibri;
    -fx-font-weight: normal;

}
.jfx-hamburger StackPane {
    -fx-background-color: #8d8ea4;
    -fx-background-radius: 4;
}
.menuTab {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #8d8ea4;
}
.SRElement {
    -fx-background-color: #323467;
    -fx-background-radius: 10;
}
.SRElementAnchor {
    -fx-background-color: #3f417a;

}